*~
build/
class
*.prof
libclass.a
*out
python/classy.cpp
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
virtual_environment.txt
output/expexp_background.dat
output/expexp_pk.dat
.gitignore
output/explanatory_background.dat
output/expexp_parameters.ini
output/expexp_pk_cb.dat
output/expexp_perturbations_k0_s.dat
output/explanatory_cl.dat
output/explanatory_parameters.ini
output/expexp_cl.dat
output/explanatory_cl_lensed.dat
output/explanatory_perturbations_k0_s.dat
output/explanatory_pk.dat
output/expexp_cl_lensed.dat
output/explanatory_unused_parameters
expexp.ini
output/explanatory_unused_parameters
expexp.ini
output/explanatory_unused_parameters
output/explanatory_unused_parameters
